body{
  background-image: linear-gradient(rgba(110, 83, 7, 0.5), rgba(15, 15, 13, 0.6)), url(https://images.pexels.com/photos/773958/pexels-photo-773958.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vh;
  background-size: cover;
  font-family: 'Verdana ';
}

nav{
color: white;
background-color: black;
margin: 0px;
padding: 0px;
backgrou
width: 50%;
top: 0px;
height: 50px;
font-size: 2.5rem;


}

div{
  color: white; 
  margin: auto;
  width: 50%;
}

a{
  color: white;
  background-color: rgba(228, 154, 120, 0.514);
  text-decoration: none;
  border: 1px solid white;
}

a:hover{
  background-color: rgb(112, 66, 5);
}